@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.app {
  width: 100%;
  position: absolute;
  background: linear-gradient(#051e39,#88233a);
  overflow: hidden;
}