.container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  opacity: 0.1;
  height: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}
.container.show {
  visibility: visible;
  opacity: 1;
}
.form {
  position: relative;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 998;
  background-color: transparent;
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 7rem;
  width: 100%;
  height: 260px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  z-index: 999;
}
.iconModal {
  width: 70px;
  height: 70px;
}
.highlight {
  color: #f5db79;
  font-size: 70px;
  font-weight: 800;
}
#canvas {
  height: 100%;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.congrats {
  font-size: 80px;
  color: #ddd;
  font-weight: 700;
}